#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = config/pointer2Analysis.properties
phase.singleAlgorithm.stopAfterError = false
phase.singleAlgorithm.initialStatesFor = FUNCTION_ENTRIES
cpa.pointer2.forSummaryUsing = true
cpa.callstack.analyzeSummary = true
.FED

.RUN
basic : cfa;
