#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
analysis.functionPointerCalls = false
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/phase/summary/
summaries = access.properties
summary.usedExternalSummary = ACCESS_SUMMARY
summary.usedInternalSummary = ACCESS_SUMMARY
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
phase.me.analysis = config/phase/me/shapeAnalysis.properties
phase.me.stopAfterError = false
.FED

.RUN
summary : cfa;
basic : cfa;
