#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
parser.dialect = GNUC
# parser.transformTokensToLines = false
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = true
analysis.summaryEdges = true
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/product/
summaries = access.properties
summary.usedExternalSummary = ACCESS_SUMMARY
summary.usedInternalSummary = ACCESS_LOOPINTERNAL_SUMMARY
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
phase.me.analysis = config/product/shapeAnalysis.properties
phase.me.stopAfterError = false
cpa.arg.export = true
checker.weaknessForCheck = INTEGER_OVERFLOW, INTEGER_CONVERSION, MEMORY_LEAK, INVALID_READ, INVALID_WRITE, INVALID_FREE
.FED

.RUN
summary : cfa;
basic : cfa, summary;
