body {
    padding: 1em;
    height: 100%;
    min-height: 100%;
}

#outermost_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#nonmenu_wrapper {
    display: flex;
    flex: 1;
}

#left_nonmenu {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    width: 300px;
}

#middle_nonmenu {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

#right_nonmenu {
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    width: 350px;
}

#file_explorer {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
}

ul.jqueryFileTree {
    font-size: 14px;
}

#editor {
    font-size: 16px;
}

#reason_viewer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.ace-code-highlight {
    position: absolute;
    opacity: 0.8;
    background-color: #FFFF00;
}

code.inline-code {
    font-size: 12px;
    word-wrap: break-word;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    padding: 0.2em;
    box-sizing: border-box;
}

code.inline-optr {
    font-size: 12px;
    word-wrap: break-word;
    background-color: rgba(255, 102, 0, 0.1);
    border-radius: 3px;
    padding: 0.2em;
    box-sizing: border-box;
}
