.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = config/bindingAnalysis.properties
phase.singleAlgorithm.stopAfterError = false
.FED

.RUN
basic : cfa;
