#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).ApronAnalysisPhase
phase.apronInvariant.analysis = config/apronAnalysis.properties
phase.apronInvariant.stopAfterError = false
phase.apronInvariant.functionWisePartition = true
phase.apronInvariant.initialStatesFor = FUNCTION_ENTRIES
phase.apronInvariant.traversal.useCallstack = falses
cpa.shape.allowAllocFail = false
cpa.pointer2.forSummaryUsing = true
.FED

.RUN
basic : cfa;
