#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF int
.TYPE = $(DIR).SingleAlgorithmRunPhase
phase.singleAlgorithm.analysis = config/valueAnalysis-symbolic.properties
phase.singleAlgorithm.stopAfterError = false
.FED

.DEF collect
.TYPE = $(DIR).AnalyzingResultPhase
.FED

.RUN
collect : int;
int : cfa;
