#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = config/valueAnalysis-loop-forDCChecker.properties
phase.singleAlgorithm.stopAfterError = false
phase.singleAlgorithm.initialStatesFor = ENTRY
checker.weaknessForCheck = DEAD_CODE
.FED

.RUN
basic : cfa;