# this is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
.FED

.DEF int
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = config/smg-range-loop.properties
phase.singleAlgorithm.initialStatesFor = ENTRY
checker.weaknessForCheck = INTEGER_OVERFLOW, INTEGER_CONVERSION
checker.range.overflow.refine = true
checker.range.conversion.refine = true
.FED

.RUN
int : cfa;
