#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = config/liveVariables.properties
phase.singleAlgorithm.stopAfterError = false
phase.singleAlgorithm.initialStatesFor = FUNCTION_SINKS
checker.weaknessForCheck = UNUSED_VARIABLE
.FED

.RUN
basic : cfa;