#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = false
.FED

.DEF int
.TYPE = $(DIR).SingleAlgorithmRunPhase
phase.singleAlgorithm.analysis = config/rangeAnalysis.properties
phase.singleAlgorithm.stopAfterError = false
checker.weaknessForCheck = INTEGER_OVERFLOW, INTEGER_CONVERSION, DIVIDED_BY_ZERO
.FED

.DEF collect
.TYPE = $(DIR).AnalyzingResultPhase
.FED

.RUN
collect : int;
int : cfa;
