# This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = true
analysis.summaryEdges = true
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/phase/summary/
summaries = pointer.properties
.FED

.RUN
summary : cfa;
