.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = true
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/phase/summary/
summaries = access.properties,pointer.properties,arith.properties
.FED

.RUN
summary : cfa;
